/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Variables */
@import 'variables';

/* Boostra */
@import '~bootstrap/scss/bootstrap';

.h-screen{
	height: 100vh;
}



#mainNav2 {
	height: 72px;
	background-color: #304457;
}

#mainNav2 .navbar-brand {
	color: white;
	font-weight: 700;
	padding: .9rem 0;
	width: 180px;
}

#mainNav2 .nav-link {
	transition: none;
	padding: 2rem 1.5rem;
	color: white
}

#mainNav2.navbar-shrink .nav-link:active {
	color: #F3A100
}
#mainNav2.navbar-shrink .nav-link.active {
	color: #F3A100;
	outline: 0;
	border-bottom: .25rem solid #F3A100
}




.btn-primary {
	background-color: #304457;
}

.btn-primary:hover {
	background-color: #4f837f
}

.btn-primary:focus {
	background-color: #4f837f;
	color: #fff
}

.btn-primary:active {
	background-color: #467370
}

.text-primary {
	color: #304457
}

.text-secondary {
	color: #F3A100
}

h1.display-4{
	color:#304457;
}