
#mainNav{
  min-height: 57px;
  background-color: #304457;
}

#mainNav .navbar-toggler {
	font-size: 80%;
	padding: .75rem;
	color: black;
	border: 1px solid #64a19d 
}

#mainNav .navbar-toggler:focus {
	outline: 0
}

#mainNav .navbar-brand {
	color: white;
	font-weight: 700;
	padding: .9rem 0;
	width: 180px;
}

#mainNav .navbar-nav .nav-item:hover {
	color: fade(#F3A100, 80%);
	outline: 0;
	background-color: transparent
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
	outline: 0;
	background-color: transparent
}

@media (min-width:992px) {
	#mainNav {
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
		background-color: transparent;
		transition: background-color .3s ease-in-out;
	}
	#mainNav .navbar-brand {
		padding: .5rem 0;
		color: rgba(255, 255, 255, .5);
	}
	#mainNav .nav-link {
		transition: none;
		padding: 2rem 1.5rem;
		color: rgba(255, 255, 255, .5)
	}
	#mainNav .nav-link:hover {
		color: rgba(255, 255, 255, .75)
	}
	#mainNav .nav-link:active {
		color: #fff
	}


/*----Color de barra de menú Color de barra de menú Color de barra de menú Color de barra de menú Color de barra de menú*/
	#mainNav.navbar-shrink {
		background-color: #304458
	}
/*--------------------------------------------------------------------------------------------------------------------------------------*/


/*Colores para la letra de la barra de navegación*/
	#mainNav.navbar-shrink .nav-link {
		color: white;
		padding: 1.5rem 1.5rem 1.25rem;
		border-bottom: .25rem solid transparent
	}
	#mainNav.navbar-shrink .nav-link:hover {
		color: white
	}
	#mainNav.navbar-shrink .nav-link:active {
		color: #F3A100
	}
	#mainNav.navbar-shrink .nav-link.active {
		color: #F3A100;
		outline: 0;
		border-bottom: .25rem solid #F3A100
	}
	/*--------------------------------------------------------------------------------------------------------------------------------------*/
}

#home{
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 1
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 100rem;
  height: 100%;
  background-color: #304457;
  transform: skewY(4deg);
  transform-origin: bottom right
}

@media (min-width:768px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 28rem;
    padding-bottom: 0
  }
  .masthead .masthead-bg {
    min-height: 0;
    transform: skewX(-8deg);
    transform-origin: top right
  }
  .masthead .masthead-content {
    padding-left: 0rem;
    padding-right: 3rem
  }
  .masthead .masthead-content h1 {
    font-size: 3.5rem
  }
  .masthead .masthead-content p {
    font-size: 1.5rem
  }
}

p {
  display: block;
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  text-transform: Helvetica;
  font-size: 20px;
  text-align: left;
  margin: 0px;
  padding-top: 32px;
  padding-bottom: 25px; 
  color: #fff;
}

h3 {
  font-size: 8px;
  color: #fff;
  cursor: pointer; 
}

header video {
  position: absolute;
  top: 50%;
  left: 60%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 1;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #304457;
  opacity: 0.3;
  z-index: 1;
}






.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

#comunidad{
	width: 100%;
}

#comunidadTexto{
   font-size:1.5rem;
}

.about-section {
	padding-top: 1rem;
}

.about-section p {
	margin-bottom: 2rem
}



a {
	color: #F3A100
}

a:focus,
a:hover {
	text-decoration: none;
	color: #F3A100
}


.bg-primary {
	background-color: #304457!important
}

footer {
	padding: 5rem 0
}

.contact-form{
    background: #fff;
    margin-top: 8%;
    margin-bottom: 0%;
    width: 70%;
}

.project-form{
    margin-top: 5%;
    margin-bottom: -5%;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 9rem;
    width: 11%;
    margin-top: -5%;
    transform: rotate(0deg);
}


.text-primary {
    color: #304457!important
}

.text-secondary {
    color: #F3A100!important
}





