
#mainNav{
  min-height: 27px;
  background-color: #ffffff;
}

#mainNav .navbar-toggler {
	font-size: 80%;
	padding: .75rem;
	color: black;
	border: 1px solid #64a19d 
}

#mainNav .navbar-toggler:focus {
	outline: 0
}

#mainNav .navbar-brand {
	color: white;
	font-weight: 700;
	padding: .9rem 0;
	width: 180px;
}

#mainNav .navbar-nav .nav-item:hover {
	color: fade(#008fa6, 80%);
	outline: 0;
	background-color: transparent
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
	outline: 0;
	background-color: transparent
}
.barraMenuSuperior {
	position:fixed;
 	top:0;
 	right:0;
 	left:0;
 	z-index:1030
}

@media (min-width:992px) {
	#mainNav {
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
		background-color: transparent;
		transition: background-color .3s ease-in-out;
	}
	#mainNav .navbar-brand {
		padding: .5rem 0;
		color: rgba(255, 255, 255, .5);
	}
	#mainNav .nav-link {
		transition: none;
		padding: 2rem 1.5rem;
		color:#008fa6;
		<!-- color: rgba(0, 143, 166, .5) -->
	}
	#mainNav .nav-link:hover {
	color: black;
		<!-- color: rgba(255, 255, 255, .75) -->
	}
	#mainNav .nav-link:active {
		color: #4770CC
	}


/*---- Color de barra de menú superior */
	#mainNav.navbar-shrink {
	background-color: white
	}
/*--------------------------------------------------------------------------------------------------------------------------------------*/


/*Colores para la letra de la barra de navegación*/
	#mainNav.navbar-shrink .nav-link {
		color: #008fa6;
		padding: 1.5rem 1.5rem 1.25rem;
		border-bottom: .25rem solid transparent
	}
	#mainNav.navbar-shrink .nav-link:hover {
		color: white
	}
	#mainNav.navbar-shrink .nav-link:active {
	color: #4770CC
	}
	#mainNav.navbar-shrink .nav-link.active {
		color: #4770CC;
		outline: 0;
		border-bottom: .25rem solid #F3A100
	}
	/*--------------------------------------------------------------------------------------------------------------------------------------*/
}

#home{
  position: relative;
  background-color: white;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 1
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 100rem;
  height: 100%;
  background-color: #b6ecfd; 
  transform: skewY(4deg);
  transform-origin: bottom right
}

@media (min-width:768px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 28rem;
    padding-bottom: 0
  }
  .masthead .masthead-bg {
    min-height: 0;
    transform: skewX(-8deg);
    transform-origin: top right
  }
  .masthead .masthead-content {
    padding-left: 0rem;
    padding-right: 3rem
  }
  .masthead .masthead-content h1 {
    font-size: 3.5rem
  }
  .masthead .masthead-content p {
    font-size: 1.5rem
  }
}

p {
  display: block;
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  text-transform: Helvetica;
  font-size: 20px;
  text-align: left;
  margin: 0px;
  padding-top: 32px;
  padding-bottom: 25px; 
  color: green;
}

h3 {
  font-size: 8px;
  color: #fff;
  cursor: pointer; 
}

header video {
  position: absolute;
  top: 50%;
  left: 60%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 1;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #b6ecfd;
  opacity: 0.3;
  z-index: 1;
}


/* ---------  Tipografia --------------------------------------*/
@font-face {
	font-family: HelveticaNeue LtStd-LtCn;
	src: url('/fonts/HelveticaNeueLTStd-LtCn.otf');
}
@font-face {
	font-family: HelveticaNeue LtStd Cn;
	src: url('/fonts/HelveticaNeueLTStd-Cn.otf');
}
@font-face {
	font-family: HelveticaNeueLTStd-Hv;
	src: url('/fonts/HelveticaNeueLTStd-Hv.otf');
}
@font-face {
	font-family: HelveticaLTStd-BlkCond;
	src: url('/fonts/HelveticaLTStd-BlkCond.otf');
}
@font-face {
	font-family: HelveticaRounded LtStd-BdCn;
	src: url('/fonts/HelveticaRoundedLTStd-BdCn.otf');
}
@font-face {
	font-family: helvetica-rounded-lt-std-bold;
	src: url('/fonts/HelveticaNeueLTStd-LtCn.otf');
}

/* -------------------------------------------------------------*/	
/* -----------  Grids usados pagina principal	----------------*/
/* ------------------------------------------------------------*/
.grid_centrada{
	justify-items:center; /* horizontal */
	align-items: center; /* vertical */
	}
	
.grid_7col {
  display: grid;
  grid-template-columns: 7% 25% 5% 25% 5% 25% 7%; /*40px 50px auto 50px 40px;*/
  grid-gap: 5px;
  margin-top: 5%;
  justify-content: space-around;
  align-content: center;
}
.grid_3col {
  display: grid;
  grid-template-columns: 20% 60% 20%; 
  /*grid-gap: 75px;
  margin-top: 5%;*/
  justify-content: space-around;
  align-content: center;
}

.grid_2col {
  display: grid;
  grid-template-columns: 50% 50%; 
  grid-gap: 75px;
  margin-top: 5%;
  justify-content: space-around;
  
}
.grid_2row {
  display: grid;
  /*grid-template-columns: 33% 33% 33%; */
  grid-template-rows: 80% 20%; /*30px 100px 30px;*/
  grid-gap: 5px;
  /*margin-top: 5%;*/
  justify-content: space-around;
  align-content: center;
}

.grid_3row {
  display: grid;
  /*grid-template-columns: 33% 33% 33%; */
  grid-template-rows: 13% 52% 20%; /*30px 100px 30px;*/
  grid-gap: 5px;
  /*margin-top: 5%;*/
  justify-content: space-around;
  align-content: center;
}

.col_1 {
	grid-column: 1;
	grid-row: 1;
	display: inline-block;
}
.col_2 {
	grid-column: 2;
	grid-row: 1;
	font-family:HelveticaNeue LtStd Cn;
}
.col_3 {
	grid-column: 3;
	grid-row: 1;
}
.col_4 {
	grid-column: 4;
	grid-row: 1;
	font-family:HelveticaNeue LtStd Cn;			
}
.col_5 {
	grid-column: 5;
	grid-row: 1;			
}
.col_6 {
	grid-column: 6;
	grid-row: 1;
	font-family: HelveticaNeue LtStd Cn;
}
.col_7 {
	grid-column: 7;
	grid-row: 1;			
}	
.row_1 {
	grid-column: 1;
	grid-row: 1;
	align-self: start;
	width: 100%;
}
.row_2 {
	grid-column: 1;
	grid-row: 2;
	align-self: center;
	width: 100%
}
.row_3 {
	grid-column: 1;
	grid-row: 3;
	align-self: center;
	width: 100%
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
/* https://www.cssmatic.com/es/border-radius */
.redondear_esquinas_izquierda {
	border-radius: 20px 0px 0px 20px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border: 0px solid;
}
.redondear_esquinas_derecha{
	border-radius: 0px 20px 20px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border: 0px solid;
}

/* --------  comportamiento de mostrar/ocultar divs	-------------*/
.panel-box {
    margin: 5px;
    padding: 0;
    display: inline-block;
    clear: none;
    position: relative;
}

.front {
    width: 100%;
    height: 200px;
    padding: 10px;
    z-index: 5;
    opacity: 1;
    display: block;
    position: absolute;
    /*background-color: red;*/
    top: 0;
    left: 0;
    -webkit-transition: opacity .5s ease;
}

.front:hover {
    opacity: 0;
    z-index: -1;
}

.back {
    width: 100%;
    height: 200px;
    padding: 10px;
    color: #304457;
    background-color: #9cecfd; /* rgba(57, 54, 55, 0.95);*/
    font-family: HelveticaLTStd-BlkCond;
    font-size: 110%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
}

.back:hover + .front {
    opacity: 0;
}

.back:hover {
    z-index: 100;
    opacity: 1;
}

#comunidad{
	width: 100%;
}

#comunidadTexto{
   font-size:1.5rem;
}

.about-section {
	padding-top: 1rem;
}

.about-section p {
	margin-bottom: 2rem
}

a {
	color: #F3A100
}

a:focus,
a:hover {
	text-decoration: none;
	color: #F3A100
}


.bg-primary {
	background-color: #b6ecfd!important
}

footer {
	padding: 5rem 0
}
#footer {
	display: block;
	width: 100%;
	visibility: visible;
	opacity: 1;
}
#footer.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.lower-footer, .upper-footer {
	position: relative;
	padding: 0;
	background: #fff !important;
}

.contact-form{
    background: #fff;
    margin-top: 8%;
    margin-bottom: 0%;
    width: 70%;
}

.project-form{
    margin-top: 5%;
    margin-bottom: -5%;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 9rem;
    width: 11%;
    margin-top: -5%;
    transform: rotate(0deg);
}


.text-primary {
    color: #008fa6!important
}

.text-secondary {
    color: #red!important
}




