.completed:after {
  content: "";
  background-color: transparent;
  position: absolute;
  right: -10px;
  top: 8px;
  width: 5px;
  border-bottom: 3px solid #9dd6e9;
  height: 11px;
  border-right: 3px solid #9dd1e3;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.incompleted:after {
  content: "*";
  font-size: 22px;
  position: absolute;
  top: 5px;
  right: -12px;
  font-weight: bold;
  color: #c77191;
}

a.activeIH,
a.activeIH.completed:after {
  color: #304457 !important;
  border-color: #304457 !important;
}

