.fc-toolbar-chunk>div {
    display: flex;
    align-items: center;
}

.fc-button,
.fc-col-header-cell,
.fc-col-header-cell-cushion {
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

.fc-toolbar-title {
    padding-left: 15px;
    padding-right: 15px;
}