.col-md-2,
.col-md-10 {
    padding: 0;
}

.panel {
    margin-bottom: 0px;
}

.panel-title {
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.panel-heading>div:first-child {
    padding: 0px;
    float: left;
    width: calc(100% - 45px);
}

.chat-window {
    width: auto;
    bottom: 0;
    position: fixed;
    float: right;
    right: 0;
    margin-left: 10px;
    z-index: 9999;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
}

.chat-window>div>.panel {
    border-radius: 5px 5px 0 0;
}

.icon_minim {
    padding: 2px 10px;
}

.msg_container_base {
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
}

.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.panel-heading {
    padding: 7px 10px 5px;
    font-size: 10px;
    background-color: gray;
}

.panel-heading>.panel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.msg_receive {
    padding-left: 0;
    margin-left: 0;
}

.msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.messages>p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.messages>time {
    font-size: 11px;
    color: #99c9d3;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.avatar {
    position: relative;
}

.base_receive>.avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.base_sent>.avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent>time {
    float: right;
}

.msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.btn-group.dropup {
    position: fixed;
    left: 0px;
    bottom: 0;
}

#chat_window_1 {
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 80px);
}

#bodyChat {
    max-width: 315px;
    min-width: 270px;
    padding-left: 0;
}

#bodyChat #divInput {
    border: 1px solid lightgray;
    border-width: 1px 0 0 0;
    padding: 5px;
}

#bodyMsg {
    max-height: 300px;
    height: 50vh;
    overflow-x: hidden;
}

.chat-window .icon_minim:before,
.chat-window .icon_close:before {
    color: white;
}